@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@900&display=swap");
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  background-image: url("./bships.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  font-family: "Tourney", cursive;
  color: yellow;
}
.header h1 {
  font-size: 5em;
}
.grid-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.turns {
  font-family: "Tourney", cursive;
  align-self: center;
  color: yellow;
}
.user-grid {
  border: 1px solid darkblue;
  background-color: turquoise;
  opacity: 0.6;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 0px;
  width: 400px;
  height: 400px;
}
.comp-grid {
  border: 1px solid darkblue;
  background-color: turquoise;
  opacity: 0.6;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: 400px;
  height: 400px;
}
.user-grid div {
  border: 1px solid darkblue;
  height: 40px;
  padding: 0%;
}
.comp-grid div {
  border: 1px solid darkblue;
  height: 40px;
  padding: 0%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
#startButton {
  height: 50px;
  width: 120px;
  background-color: rgba(105, 105, 241, 0.589);
  border: 1px solid turquoise;
  color: turquoise;
}
#resetButton {
  height: 50px;
  width: 120px;
  background-color: rgba(105, 105, 241, 0.589);
  border: 1px solid turquoise;
  color: turquoise;
}
.shipsUpdate {
  display: flex;
  justify-content: space-between;
}
.userShips {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.userCarrier {
  display: grid;
  grid-area: carrier;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 200px;
  width: 40px;
}
.userBattle {
  display: grid;
  grid-area: battle;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 160px;
  width: 40px;
}
.userCruiser {
  display: grid;
  grid-area: cruiser;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 120px;
  width: 40px;
}
.userSub {
  display: grid;
  grid-area: sub;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 120px;
  width: 40px;
}
.userDestroyer {
  display: grid;
  grid-area: destroyer;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 80px;
  width: 40px;
}
.compShips {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.compDestroyer {
  display: grid;
  grid-area: destroyer;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 80px;
  width: 40px;
}
.compSub {
  display: grid;
  grid-area: sub;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 120px;
  width: 40px;
}
.compCruiser {
  display: grid;
  grid-area: cruiser;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 120px;
  width: 40px;
}
.compBattle {
  display: grid;
  grid-area: battle;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 160px;
  width: 40px;
}
.compCarrier {
  display: grid;
  grid-area: carrier;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 200px;
  width: 40px;
}
