@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@900&display=swap");

* {
  box-sizing: border-box;
}
body {
  text-align: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  background-image: url("./bships.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  font-family: "Tourney", cursive;
  color: yellow;
}
.header h1 {
  font-size: 5em;
}
.header p {
  font-size: 2em;
}
.grid-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.turns {
  font-family: "Tourney", cursive;
  font-size: 1.2em;
  width: 100px;
  align-self: center;
  color: white;
  text-align: center;
}
.user-grid,
.comp-grid {
  border: 1px solid darkblue;
  background-color: turquoise;
  opacity: 0.7;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 0px;
  width: 400px;
  height: 400px;
}

.user-grid div {
  border: 1px solid darkblue;
  height: 39.2px;
  width: 39.2px;
  padding: 0%;
}
.comp-grid div {
  border: 1px solid darkblue;
  padding: 0%;
  height: 39.2px;
  width: 39.2px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
#reRollButton {
  height: 50px;
  width: 120px;
  background-color: rgba(105, 105, 241, 0.589);
  border: 1px solid turquoise;
  color: turquoise;
}
#startButton {
  height: 50px;
  width: 120px;
  background-color: rgba(105, 105, 241, 0.589);
  border: 1px solid turquoise;
  color: turquoise;
}
#resetButton {
  height: 50px;
  width: 120px;
  background-color: rgba(105, 105, 241, 0.589);
  border: 1px solid turquoise;
  color: turquoise;
}
#music {
  width: 60px;
  height: 30px;
  background-color: rgba(105, 105, 241, 0.589);
  border: 1px solid turquoise;
  color: turquoise;
  margin: 10px;
}
#computerGo {
  height: 50px;
  width: 120px;
  background-color: rgba(105, 105, 241, 0.589);
  border: 1px solid turquoise;
  color: turquoise;
}
.shipsUpdate {
  display: flex;
  justify-content: space-between;
}
/* .userShips {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.carrier-container-verticle {
  height: 40px;
  width: 200px;
  border: 1px solid darkblue;
  background-color: turquoise;
  flex-wrap: wrap;
}
.battleship-container-verticle {
  height: 40px;
  width: 160px;
  border: 1px solid darkblue;
  background-color: turquoise;
  flex-wrap: wrap;
}
.cruiser-container-verticle {
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 40px;
  width: 120px;
  flex-wrap: wrap;
}
.submarine-container-verticle {
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 40px;
  width: 120px;
  flex-wrap: wrap;
}
.destroyer-container-verticle {
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 40px;
  width: 80px;
  flex-wrap: wrap;
}
.carrier-container {
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 200px;
  width: 40px;
}
.battleship-container {
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 160px;
  width: 40px;
}
.cruiser-container {
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 120px;
  width: 40px;
}
.battleship-container {
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 120px;
  width: 40px;
}
.destroyer-container {
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 80px;
  width: 40px;
}
.compShips {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
#compDestroyer {
  display: grid;
  grid-area: destroyer;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 80px;
  width: 40px;
}
#compSub {
  display: grid;
  grid-area: sub;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 120px;
  width: 40px;
}
#compCruiser {
  display: grid;
  grid-area: cruiser;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 120px;
  width: 40px;
}
#compBattle {
  display: grid;
  grid-area: battle;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 160px;
  width: 40px;
}
#compCarrier {
  display: grid;
  grid-area: carrier;
  border: 1px solid darkblue;
  background-color: turquoise;
  height: 200px;
  width: 40px;
}
#compCarrier {
  background-color: sandybrown;
}
#compBattle {
  background-color: slategrey;
}
#compCruiser {
  background-color: orange;
}
#compSub {
  background-color: peru;
}
#compDestroyer {
  background-color: rosybrown;
} */

.enemyPosition {
  background-color: turquoise;
}
.playerPosition {
  background-color: rebeccapurple;
}
/* .carrier {
  background-color: darkslategray;
}
.battleship {
  background-color: rebeccapurple;
}
.cruiser {
  background-color: indigo;
}
.submarine {
  background-color: lightgreen;
}
.destroyer {
  background-color: yellow;
} */
.shipHit {
  background-color: red;
  /* background-image: url(./battlehit.png); */
  height: 35px;
  width: 35px;
}
.shipMiss {
  /* background-image: url(./battlemiss.png); */
  background-color: white;
  height: 35px;
  width: 35px;
}
